.navbar {
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    text-decoration: none;
    color: black;
}

.navbar img {
    height: 60px;
    width: 70px;
    padding: 0 10px;
    padding-top: 5px;
}
