
.firstDiv{
    display: flex;
    background-color: #efefef;
}
.Cartcontainer{
    background-color:white;
    border-radius: 20px;
    width: 80%;
    box-shadow: rgb(39, 38, 38) 0 0 4px 0 ;
}

.item-cart{
    margin: 0 2%;
}

.items{
    display: flex;
    
}
h3{
    margin: 0;
}
.items img{
    height: 20%;
    width: 10%;
}

.hl{
    border: solid 1px;
    width: 100%;
    height: 0;
    margin: 20px;
}

.amount{
    display: flex;
    justify-content: space-between;
}

.CartTitle{
    position: relative;
    width: 100%;  
}

.orderSummary{
    background-color: white;
    text-align: center;
    left: 75%;
    padding-left: 20px;
    padding-right: 20px;
    width: 20vw;
    height: 33vh;   
    border-radius: 20px;
    margin: 0 1% 0 4% ;
    box-shadow: black 0 0 5px 0 ;
}

.sum{
    display: flex;
    justify-content: space-between;
}